<div class="card text-center mt-3 shadow box" id="blog-card" data-id="{{id}}">
  <h2 class="text-dark mt-3 font-weight-bold">{{title}}</h2>
  <p class="px-3">{{body}}</p>
  <p><small class="text-muted">Posted by: {{user.name}} on {{formatDate date_created}}</small></p>
</div>

{{#if logged_in}}
<form class="form my-3" id="comment-form">
  <label for="adding-comment" class="form-label">Leave a comment:</label>
  <textarea class="form-control" id="comment-body" rows="3"></textarea>
  <button type="submit" class="btn btn-dark new-comment mt-3" id="comment-submit-btn">Submit</button>
</form>
{{/if}}

{{#if comments}}
{{#each comments as |comment|}}
<div class="card text-center mt-5 shadow box">
  <p class="p-3">{{comment_body}}</p>
  <p><small class="text-muted">Posted by: {{created_by}} on {{formatDate date_created}}</small></p>
</div>
{{/each}}
{{/if}}

{{#if logged_in}}
<script src="/js/blog.js"></script>
{{/if}}